.form-container {
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  margin: 20px auto;
  background: #FFFFFF;
  border: 1px solid #95A0A7;
  border-radius: 8px;
  padding-left: 42px;
  box-shadow: -12px 12px 0 #FFE0B3;
}

.form-title {
  font-family: 'Lato';
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2A414F;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #2A414F;   
  margin-bottom: 9px;
}

.form-control input {
  width: 415px;
  height: 55px;
  border: 1px solid #95A0A7;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.5em;
}

.btn-submit {
  margin-top: 44px;
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  border: none;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0E161A; 
}

.btn-submit:hover {
  background: rgba(255, 153, 0, 0.6);
}

.text-center {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.0025em;
  color: #2A414F;  
}

.text-orange {
  color: #FF9900;
}
.text-orange:hover {
  color: #FF9900;
}